

* {
    margin: 0;
    padding: 0;
}

.container{
    width: 220px;
    height: 450px;
    margin: auto;
    border: 3px solid rgb(49, 49, 49);
    margin-top: 50px;
    border-radius: 35px;
    background: linear-gradient(to bottom,  black 0%, silver 100%);
    box-shadow: 0px 2px 3px -1px grey;
    position: relative;
}

.container::before{
    content: "";
    width: 2px;
    height: 60px;
    background-color: #35353a;
    position: absolute;
    top: 32%;
    left: -6px;
    box-shadow: 0px 0px 4px #93a9c1;
    border-radius: 20px;
}

.container::after{
    content: "";
    width: 2px;
    height: 37px;
    background-color: #93a9c1;
    position: absolute;
    top: 33%;
    left: -6px;
    box-shadow: 0px 0px 4px #93a9c1;
    border-radius: 20px;
}

.camera-bump{
    width: 116px;
    height: 119px;
    border-radius: 30px;
    background: linear-gradient(to bottom, black 0%, silver 100%);
    position: relative;
    top: 10px;
    box-shadow: 0px 1px 1px 0.5px grey;
    left: 9px;
    border: 2px solid #96abb4;
    text-align: center;
}

.camera {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(28, 28, 28);
    border: 4px solid #aecbea;
    box-shadow: 0px 6px 3px rgb(105, 103, 103);
}

.cam-one {
    position: absolute;
    top: 4px;
    left: 8px;
}
.cam-two {
    position: absolute;
    bottom: 6px;
    left: 8px;
}
.cam-three {
    position: absolute;
    right: 8px;
    top: 33px;
}

.cam-shadow {
   width: 25px;
   height: 25px;
   position: absolute;
   border-radius: 100%;
   top: 8px;
   right: 8.2px;
   background: radial-gradient(#3d77a2 30%, #11203a 15%);
}

.sensor {
    width: 17px;
    height: 17px;
    background-color: rgb(28, 28, 28);
    border-radius: 100px;
    bottom: 8px;
    right: 23px;
    box-shadow: 1px 3px 5px #5a5a5a;
    position: absolute;
}

.mini-sensor {
    width: 3px;
    height: 3px;
    background-color: rgb(28, 28, 28);
    border-radius: 100%;
    position: absolute;
    bottom: 21px;
    right: 9px;
}

.flash {
    width: 17px;
    height: 17px;
    background-color: rgb(28, 28, 28);
    border-radius: 100px;
    position: absolute;
    top: 8px;
    right: 23px;
    border: 2px solid #cfc4bc;
    background: radial-gradient(#f5e365 30%, #fff2ec 15%);
    box-shadow: 0px 1px 1px 1px grey;

}

#logo{
    font-size: 50px;
    color: #000;
    width: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.body .vu{
    position: absolute;
    right: -5.5px;
    top: 210px;
    content: "";
    width: 2px;
    height: 40px;
    background-color: rgb(105, 103, 103);
    border-radius: 20px;
}



.body .vd {
    position: absolute;
    right: -5.5px;
    top: 210px;
    content: "";
    width: 2px;
    height: 40px;
    background-color: rgb(105, 103, 103);
    border-radius: 20px;
}

.kid{
    text-align: center;
    padding-top: 30px;
}


